﻿
/* Site base */

body {
    background-color: rgb(250, 250, 250);
    font-family: 'Roboto', sans-serif;
}

    body.darktheme {
        background-color: rgb(20, 20, 20);
    }

    body.bluetheme {
        background-color: rgb(204, 235, 255);
    }

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
    display: block;
    margin: auto;
    text-align: center;
}

input {
    width: 280px;
    margin-bottom: 10px;
}

input.mini {
    width: 200px;
}

/* Navigation */

.site_navbar {
    width: 100%;
    height: 50px;
    display: block;
    margin: auto;
    color: rgb(220, 220, 220);
    background-color: rgb(30, 30, 30);
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    font-family: Oswald;
    user-select: none;
}

.site_logo {
    width: 50px;
    height: 50px;
    display: block;
    float: left;
    border-right: 2px solid white;
    background-color: rgb(30, 30, 30);
}

    .site_logo img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }

.site_navtab {
    width: 100px;
    height: 50px;
    display: block;
    float: left;
    border-right: 2px solid white;
    color: white;
    background-color: rgb(255, 0, 0);
    text-align: center;
    cursor: default;
    user-select: none;
    line-height: 50px;
    transition: 0.2s;
    font-weight: 200;
}

    .site_navtab.ext, 
    .site_navtab:hover {
        height: 60px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        cursor: pointer;
    }

    .site_navtab.metal {
        color: rgb(70, 70, 70);
    }

    .site_navtab.snow {
        color: rgb(255, 255, 255);
    }

    .site_navtab.Seamless {
        background-color: rgb(30, 30, 30);
        color: rgb(255, 255, 255);
    }

        .site_navtab.Seamless.ext,
        .site_navtab.Seamless:hover {
            height: 50px !important;
            border-bottom-left-radius: 0px !important;
            border-bottom-right-radius: 0px !important;
            font-weight: 400;
        }

.site_userbox {
    width: 300px;
    height: 50px;
    display: block;
    margin-right: 5px;
    float: right;
    color: white;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

    .site_userbox img {
        width: 45px;
        height: 45px;
        float: right;
        margin-top: 2px;
        margin-left: 30px;
        object-fit: contain;
    }

.site_greetingText {
    display: inline;
    transition: 0.5s;
}

.site_navbar a:link,
.site_navbar a:visited,
.site_navbar a:hover,
.site_navbar a:active {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

    .site_navbar a:link:hover,
    .site_navbar a:visited:hover,
    .site_navbar a:hover:hover,
    .site_navbar a:active:hover {
        font-weight: 700;
    }

/* Content */

.site_content {
    width: 70%;
    height: auto;
    display: none;
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgb(180, 180, 180);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    user-select: none;
    cursor: default;
}

    .site_content.darktheme {
        background-color: rgb(100, 100, 100);
    }

    .site_content.bluetheme {
        background-color: white;
    }

.site_banner {
    width: 100%;
    height: 60px;
    color: white;
    background-color: rgb(30, 30, 30);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 32px;
    line-height: 60px;
    text-align: center;
    user-select: none;
    cursor: default;
    font-family: Oswald;
}

    .site_banner.darktheme {
        background-color: rgb(40, 40, 40);
    }

    .site_banner.bluetheme {
        background-color: rgb(0, 107, 179);
    }

.site_textheader,
.site_textheader_mini {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    user-select: none;
    cursor: default;
    font-family: Oswald;
    font-weight: 500;
}

    .site_textheader_mini {
        font-size: 16px;
        font-weight: 400;
    }

    .site_textheader.darktheme,
    .site_textheader_mini.darktheme {
        color: rgb(255, 255, 255);
    }

    .site_textheader.bluetheme,
    .site_textheader_mini.bluetheme {
        color: rgb(0, 0, 0);
    }

.site_textcontainer {
    width: 100%;
    height: auto;
    padding: 10px;
    color: black;
    font-size: 14px;
    user-select: none;
    cursor: default;
}

    .site_textcontainer.darktheme {
        color: white;
    }

    .site_textcontainer.bluetheme {
        color: black;
    }

    .site_textcontainer p.centred {
        text-align: center;
    }

.site_spacer {
    width: 100%;
    height: 20px;
    display: block;
}

/* Controls and Forms */

.site_content select {
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.site_button {
    width: 200px;
    height: 40px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    color: white;
    background-color: rgb(30, 30, 30);
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
    font-family: Oswald;
}

    .site_button.darktheme {
        background-color: rgb(60, 60, 60) ;
    }

    .site_button.bluetheme {
        background-color: rgb(0, 107, 179) ;
    }

    .site_button:hover {
        background-color: rgb(90, 90, 90);
    }

    .site_button.darktheme:hover {
        background-color: rgb(0, 0, 0);
    }

        .site_button.bluetheme:hover {
            background-color: rgb(0, 61, 102) 
        }

/* Dynamic Containers */

.site_scrollingcontainer {
    width: 70%;
    height: 300px;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(140, 140, 140);
    border: 1px solid rgb(100, 100, 100);
    border-radius: 5px;
    overflow-y: scroll;
}

.site_scrollingcontainer.mini {
    height: 150px;
}

.site_scrollingcontainer::-webkit-scrollbar {
    z-index: 10;
    width: 6px;
}

    .site_scrollingcontainer::-webkit-scrollbar-thumb {
        background-color: rgb(120, 120, 120);
    }

    .site_scrollingcontainer::-webkit-scrollbar-track {
        background-color: rgb(30, 30, 30);
    }

    .site_scrollingcontainer.darktheme {
        background-color: rgb(20, 20, 20);
        border: 1px solid rgb(60, 60, 60);
    }

        .site_scrollingcontainer.darktheme::-webkit-scrollbar-thumb {
            background-color: rgb(120, 120, 120);
        }

        .site_scrollingcontainer.darktheme::-webkit-scrollbar-track {
            background-color: rgb(40, 40, 40);
        }

    .site_scrollingcontainer.bluetheme {
        background-color: rgb(0, 61, 102);
        border: 1px solid rgb(0, 0, 0);
    }

        .site_scrollingcontainer.bluetheme::-webkit-scrollbar-thumb {
            background-color: dodgerblue;
        }

        .site_scrollingcontainer.bluetheme::-webkit-scrollbar-track {
            background-color: rgb(0, 107, 179);
        }

.site_scrollitem {
    width: 100%;
    min-height: 52px;
    height: auto;
    display: block;
    margin-bottom: 2px;
    color: black;
    background-color: white;
    border-top: 1px solid rgb(240, 240, 240);
    border-bottom: 1px solid rgb(240, 240, 240);
    transition: 0.2s;
    cursor: pointer;
}

.site_scrollitem.fixed {
    height: 52px !important;
    line-height: 50px;
}

    .site_scrollitem a:link,
    .site_scrollitem a:visited,
    .site_scrollitem a:hover,
    .site_scrollitem a:active {
        text-decoration: none;
    }

    .site_scrollitem:hover {
        border-top: 1px solid rgb(30, 30, 30);
        border-bottom: 1px solid rgb(30, 30, 30);
    }

    .site_scrollitem.darktheme {
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        border-top: 1px solid rgb(20, 20, 20);
        border-bottom: 1px solid rgb(20, 20, 20);
    }

        .site_scrollitem.darktheme:hover {
            border-top: 1px solid rgb(160, 160, 160);
            border-bottom: 1px solid rgb(160, 160, 160);
        }

    .site_scrollitem.bluetheme {
        color: black;
        background-color: white;
        border-top: 1px solid rgb(240, 240, 240);
        border-bottom: 1px solid rgb(240, 240, 240);
    }

        .site_scrollitem.bluetheme:hover {
            border-top: 1px solid dodgerblue;
            border-bottom: 1px solid dodgerblue;
        }

    .site_scrollitem_fromSeg {
        float: left;
    }


.site_scrollitem_wordingSeg {
    width: 300px;
    height: auto;
    float: left;
    margin-left: 5px;
    margin-top: 0.5em;
}

    .site_scrollitem_wordingSeg i {
        width: 290px;
        height: auto;
        float: left;
        margin-left: 5px;
        margin-top: 0.5em;
    }

    .site_scrollitem_voteSeg {
        width: 45px;
        height: 45px;
        float: right;
        margin-top: 2px;
        background-color: red;
    }

    .site_profilepreview {
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(169, 169, 169);
    border-radius: 5px;
}

    .site_profilepreview.itemprofile {
        float: left;
        margin-right: 10px;
    }

.site_profilepreview img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

/* Modals and Popups */

.site_modal_back {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    margin: auto;
    left: 0;
    top: 0;
    z-index: 30;
    background-color: rgba(10, 10, 10, 0.75);
}

.site_modal_container {
    width: 300px;
    height: auto;
    display: none;
    margin: auto;
    padding-top: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    margin-top: 15%;
}

    .site_modal_container.darktheme {
        background-color: rgb(120, 120, 120);
        color: rgb(255, 255, 255);
    }

    .site_modal_container.bluetheme {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    }

@media screen and (min-width: 800px) {
    .site_content {
        width: 95%;
    }
}