﻿@{
    ViewData["Title"] = "Manage";
}

<!--Variables-->
@{
    var myUserInstance = (Account)ViewData["User"];
    var myAccounts = (List<Account>)ViewData["AllAccounts"];
    var myTopics = (List<Topic>)ViewData["AllTopics"];
}

<!--Theme-->
@{
    String myTheme = myUserInstance.accountTheme;
    switch (myTheme)
    {
        case "Light":
            <div id="appTheme" themeType="0"></div>
            break;
        case "Dark":
            <div id="appTheme" themeType="1"></div>
            break;
        case "Blue":
            <div id="appTheme" themeType="2"></div>
            break;
        default:
            <div id="appTheme" themeType="0"></div>
            break;
    }
}

<!--Main content-->
<div class="site_content">
    <div class="site_banner">Rocket Manager</div>
    <div class="site_textheader">General Settings</div>
    <div class="site_button">Show..</div>
    <div class="site_spacer"></div>

    <!--Users Listing-->
    <div class="site_textheader">User Listing</div>
    <div class="site_scrollingcontainer mini">
        @foreach (Account thisAccount in myAccounts)
        {
            <div class="site_scrollitem fixed">
                <div class="site_profilepreview itemprofile">
                    @{ String thisAccountAvatar = "/images/Avatar/" + thisAccount.accountAvatar + ".png"; }
                    <img src="@thisAccountAvatar" />
                </div>
                <p><b>@thisAccount.accountName | </b><i>J: @thisAccount.accountCreate.ToShortDateString(), LA: @thisAccount.accountLastLogin.ToShortDateString()</i></p>
            </div>
        }
    </div>

    <!--Topics Listing-->
    <div class="site_textheader">Topic Listing</div>
    <div class="site_scrollingcontainer mini">
        @foreach (Topic thisTopic in myTopics)
        {
            <div class="site_scrollitem fixed">
                <div class="site_profilepreview itemprofile">
                    @{ 
                        String topicActive = "Active";
                        if (!thisTopic.topicActive) { topicActive = "Closed"; }
                        }
                    <img src="~/images/Logo/talk_item.png" />
                </div>
                <p><b>@thisTopic.topicTitle | </b><i>@thisTopic.topicAccount.accountName, @topicActive</i></p>
            </div>
        }
    </div>

    <!--Files Listing-->
    <div class="site_textheader">File Listing</div>
    <div class="site_scrollingcontainer mini">
        <div class="site_scrollitem fixed">
            <div class="site_profilepreview itemprofile">
                <img src="~/images/Logo/file_item.png"/>
            </div>
            <p>My File</p>
        </div>
    </div>
    <div class="site_spacer"></div>
</div>