﻿@{
    ViewData["Title"] = "Talk";
}

<!--Standalones-->
@{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/Talk/talk_index.js"></script>
}

<!--Variables-->
@{
    var myUserInstance = (Account)ViewData["User"];
    var myTopics = (List<Topic>)ViewData["Topics"];
}

<!--Theme-->
@{
    String myTheme = myUserInstance.accountTheme;
    switch (myTheme)
    {
        case "Light":
            <div id="appTheme" themeType="0"></div>
            break;
        case "Dark":
            <div id="appTheme" themeType="1"></div>
            break;
        case "Blue":
            <div id="appTheme" themeType="2"></div>
            break;
        default:
            <div id="appTheme" themeType="0"></div>
            break;
    }
}

<!--Modal content-->
<div class="site_modal_back">

    <!--Modal - New Topic-->
    <div class="site_modal_container">
        <form asp-controller="Talk" asp-action="CreateTopic">
            <div class="site_textheader">Start a Topic</div>
            <div class="site_profilepreview">
                <img src="~/images/Logo/talk_item.png" />
            </div>
            <div class="site_textheader_mini">Title</div>
            <input class="mini" name="inputTitle" type="text" placeholder="Your title here!" />
            <div class="site_textheader_mini">Description</div>
            <input class="mini" name="inputDesc" type="text" placeholder="Your description here!" />
            <div class="site_spacer"></div>
            <div class="site_button" id="modalConfirm_Topic">Confirm</div>
            <div class="site_button modalCancelButton">Cancel</div>
            <div class="site_spacer"></div>
        </form>

    </div>
</div>

<!--Main content-->
<div class="site_content">

    <div class="site_banner">Talk</div>
    <div class="site_textheader">About</div>
    <div class="site_textcontainer">
        <p class="centred">
            Welcome to the Rocket Talk page - discuss anything here!<br />
            Click an existing topic to explore it, or create your own.
        </p>
    </div>
    <div class="site_textheader">Topics</div>
    <div class="site_button" id="talkCreate_Topic">Create</div>
    <!--Topics Listing-->
    <div class="site_scrollingcontainer">
    @foreach (Topic thisTopic in myTopics)
    {
        <a asp-controller="Talk" asp-action="Topic" asp-route-topicID="@thisTopic.topicID">
            <div class="site_scrollitem fixed">
                <div class="site_profilepreview itemprofile" style="float: left">
                    <img src="~/images/Logo/talk_item.png" />
                </div>
                <div class="site_scrollitem_">
                    <p><b>@thisTopic.topicAccount.accountName posted: </b><i>"@thisTopic.topicTitle"</i></p>
                </div>
            </div>
        </a>
    }
    </div>
    <div class="site_spacer"></div>
</div>