﻿@{
    ViewData["Title"] = "Talk - View Topic";
}

<!--Standalones-->
@{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/Talk/talk_index.js"></script>
}

<!--Variables-->
@{
    var myUserInstance = (Account)ViewData["User"];
    var myTopic = (Topic)ViewData["Topic"];
    var myPosts = (List<Post>)ViewData["Posts"];
}

<!--Theme-->
@{
    String myTheme = myUserInstance.accountTheme;
    switch (myTheme)
    {
        case "Light":
            <div id="appTheme" themeType="0"></div>
            break;
        case "Dark":
            <div id="appTheme" themeType="1"></div>
            break;
        case "Blue":
            <div id="appTheme" themeType="2"></div>
            break;
        default:
            <div id="appTheme" themeType="0"></div>
            break;
    }
}

<!--Modal content-->
<div class="site_modal_back">

    <!--Modal - New Post-->
    <div class="site_modal_container" id="modalPost">
        <form asp-controller="Talk" asp-action="CreatePost">
            <div class="site_textheader">Add a Response</div>
            <div class="site_profilepreview">
                <img src="~/images/Logo/talk_post.png" />
            </div>
            <div class="site_textheader_mini">Text</div>
            <input type="hidden" name="inputTopicID" value="@myTopic.topicID"/> 
            <input class="mini" name="inputContent" type="text" placeholder="Your reply here!" />
            <div class="site_spacer"></div>
            <div class="site_button" id="modalConfirm_Post">Confirm</div>
            <div class="site_button modalCancelButton">Cancel</div>
            <div class="site_spacer"></div>
        </form>
    </div>

    <!--Modal - View Profile-->
    <div class="site_modal_container" id="modalProfile">
            <div class="site_textheader" id="modalProfile_Title">Profile</div>

            <!--Avatar-->
            <div class="site_profilepreview">
                <img id="modalProfile_Avatar" src=""/>
            </div>

            <!--Bio-->
            <div class="site_textheader_mini">Bio</div>
            <div class="site_textcontainer">
                <p class="centred" id="modalProfile_Bio_Text"></p>
            </div>

            <!--Last Active-->
            <div class="site_textheader_mini">Last Active</div>
            <div class="site_textcontainer">
                <p class="centred" id="modalProfile_Online_Text"></p>
            </div>

            <!--Number of Posts-->
            <div class="site_textheader_mini">Activity</div>
            <div class="site_textcontainer">
                <p class="centred" id="modalProfile_Activity_Text"></p>
            </div>

            <div class="site_spacer"></div>
            <div class="site_button modalCancelButton">Hide</div>
            <div class="site_spacer"></div>
    </div>
</div>

<!--Main content-->
<div class="site_content">

    <div class="site_banner">Talk - @myTopic.topicTitle</div>
    <div class="site_textheader">Posted by @myTopic.topicAccount.accountName</div>
    <div class="site_textcontainer">
        <p class="centred">
            <b>@myTopic.topicAccount.accountName posts..</b> <br />
            <i>@myTopic.topicDesc</i>
        </p>
    </div>
    <div class="site_textheader">Discussion</div>
    <div class="site_button" id="talkCreate_Post">Respond</div>

    <!--Topics Listing-->
    <div class="site_scrollingcontainer">
        @foreach (Post thisPost in myPosts)
        {
            <div class="site_scrollitem profile"                    
                     postAccountName="@thisPost.postAccount.accountName"
                     postAccountAvatar="@thisPost.postAccount.accountAvatar"
                     postAccountBio="@thisPost.postAccount.accountBio"
                     postAccountLastOn="@thisPost.postAccount.accountLastLogin"
                     postAccountNumPosts="@thisPost.postAccount.accountPosts.Count()">
                <div class="site_profilepreview itemprofile" style="float: left">
                    @{ String thisTopicAvatar = "/images/Avatar/" + thisPost.postAccount.accountAvatar + ".png"; }
                    <img src="@thisTopicAvatar" />
                </div>
                <div class="site_scrollitem_">
                    <div class="site_scrollitem_fromSeg">
                        <b>@thisPost.postAccount.accountName says: </b>
                    </div>
                    <div class="site_scrollitem_wordingSeg">
                        <i>"@thisPost.postContent"</i>
                    </div>
                    <div class="site_scrollitem_voteSeg">
                        <!--Upvote button to go here-->
                        <img />
                    </div>
                    
                </div>
            </div>
         }
    </div>
    <div class="site_spacer"></div>
</div>