﻿@{
    ViewData["Title"] = "Settings";
}

<!--Variables-->
@{
    var myUserInstance = (Account)ViewData["User"];
}

<!--Theme-->
@{
    String myTheme = myUserInstance.accountTheme;
    switch (myTheme)
    {
        case "Light":
            <div id="appTheme" themeType="0"></div>
            break;
        case "Dark":
            <div id="appTheme" themeType="1"></div>
            break;
        case "Blue":
            <div id="appTheme" themeType="2"></div>
            break;
        default:
            <div id="appTheme" themeType="0"></div>
            break;
    }
}

<!--Main content-->
<div class="site_content">

    <div class="site_banner">Settings</div>
    <form asp-controller="Settings" asp-action="UpdateUserSettings">

        <!--User details-->
        <div class="site_textheader">Me</div>
        <div class="site_textcontainer">
            <p class="centred">
                <b>Logged in as:</b> @myUserInstance.accountName <br />
                <b>Account created:</b> @myUserInstance.accountCreate.ToString("f")<br />
                <b>Last visit:</b> @myUserInstance.accountLastLogin.ToString("f")<br />
            </p>
        </div>

        <!--App settings-->

            <!--Theme-->
            <div class="site_textheader">Theme</div>
            <select name="inputTheme" value="@myUserInstance.accountTheme">
                <option value="@myUserInstance.accountTheme" selected="selected"  hidden>
                    @myUserInstance.accountTheme
                </option>
                <option value="Light">Light (Default)</option>
                <option value="Dark">Dark</option>
                <option value="Blue">Blue</option>
            </select>
            <div class="site_spacer"></div>

            <!--Tab Style-->
            <div class="site_textheader">Tab Style</div>
            <select name="inputTab" value="@myUserInstance.accountTabs">
                <option value="@myUserInstance.accountTabs" selected="selected"  hidden>
                @myUserInstance.accountTabs
                </option>
                <option value="Rainbow">Rainbow (Default)</option>
                <option value="Metal">Metal</option>
                <option value="Snow">Snow</option>
                <option value="Seamless">Seamless</option>
            </select>
            <div class="site_spacer"></div>

            <!--Avatar-->
            <div class="site_textheader">Avatar</div> <!--Avatar-->
            <select id="inputAvatar" name="inputAvatar" value="@myUserInstance.accountAvatar">
                <option value="@myUserInstance.accountAvatar" selected="selected"  hidden>
                    @myUserInstance.accountAvatar
                </option>
                <option value="avatar_blu">avatar_blu</option>
                @if (myUserInstance.accountName == "Dan")
                {
                    <option value="avatar_rocket_dev">avatar_rocket_dev</option>
                }
                <option value="avatar_snug">avatar_snug</option>
                <option value="avatar_happy">avatar_happy</option>
                <option value="avatar_hmm">avatar_hmm</option>
                <option value="avatar_pointy">avatar_pointy</option>
                <option value="avatar_rocket">avatar_rocket</option>
            </select>
            <div class="site_profilepreview">
                @{String previewFilePath = myUserInstance.accountAvatar + ".png";}
                <img id="avatarPreview" src="~/images/Avatar/@previewFilePath"/>
            </div>
            <div class="site_spacer"></div>

            <!--Bio-->
            <div class="site_textheader">Bio</div>
            <input name="inputBio" type="text" value="@myUserInstance.accountBio" placeholder="Your bio here!"/>
            <div class="site_spacer"></div>
            <div class="site_button" id="submitForm" asp-controller="Settings" asp-action="UpdateUserSettings">Save</div>
            <div class="site_spacer"></div>
        </form>

    <!--About-->
    <div class="site_textheader">About Rocket</div>
    <div class="site_textcontainer">
        <p class="centred">
            Rocket is a web application powered by ASP.NET CORE 2.0.<br />
            Rocket is built in Visual Studio 2017.<br />
            Question? Contact me at: daniel_gilbey@hotmail.com.
        </p>
    </div>

</div>
