﻿@{
    ViewData["Title"] = "Files";
}

<!--Variables-->
@{
    var myUserInstance = (Account)ViewData["User"];
}

<!--Theme-->
@{
    String myTheme = myUserInstance.accountTheme;
    switch (myTheme)
    {
        case "Light":
            <div id="appTheme" themeType="0"></div>
            break;
        case "Dark":
            <div id="appTheme" themeType="1"></div>
            break;
        case "Blue":
            <div id="appTheme" themeType="2"></div>
            break;
        default:
            <div id="appTheme" themeType="0"></div>
            break;
    }
}

<!--Main content-->
<div class="site_content">

    <div class="site_banner">Files</div>
    <div class="site_textheader">Images</div>
    <div class="site_textcontainer">
        <p class="centred">
            (Coming soon)
        </p>
    </div>
    <div class="site_textheader">Videos</div>
    <div class="site_textcontainer">
        <p class="centred">
            (Coming soon)
        </p>
    </div>
    <div class="site_textheader">Documents</div>
    <div class="site_textcontainer">
        <p class="centred">
            (Coming soon)
        </p>
    </div>
    <div class="site_textheader">Other</div>
    <div class="site_textcontainer">
        <p class="centred">
            (Coming soon)
        </p>
    </div>
</div>